@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(95, 95, 95); /* color of the scroll thumb */
  border-radius: 2px; /* roundness of the scroll thumb */
}
